body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;

  /* background: rgb(42, 49, 83); */
  color: #7f7bd4;
  background: linear-gradient(0deg, rgb(26, 30, 52) 0%, rgb(10, 10, 10) 100%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: rgb(26, 30, 52);
  color: white;
}
