body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;

  background: linear-gradient(0deg, #1a1e34 -15%, #0a0a0a 100%);

  /* Colors: */
  /* #1A1E34 blue-theme */
  /* #33221A orange-theme */
  /* #271A33 purple-theme */
  /* #25331A green-theme */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #1a1e34;
  color: white;
}
